.header {
    background-color: $white;
    box-shadow: 1px 0 1rem rgb(231, 231, 231);
    width: 86vw;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    margin-left: -1vw;
}