 .header {
    grid-column: 2/10;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .bg-icon {
      font-size: 20px;
      cursor: pointer;
    }
    .navs {
      display: flex;
      gap: 30%;

      a {
        font-size: .8rem;
        color: inherit;
        text-decoration: none;
      }
    }
  
    .others {
      display: flex;

      &  .bg-icon {
        margin-left: 2rem;
      }
    }
  }
  

