.layout {
    display: flex;
    width: 100vw;
    overflow: hidden;

    &  .right-content {
        display: grid;
        grid-template-columns: minmax(3rem, 1fr) repeat(8, minmax(5rem, 8rem)) minmax(3rem, 1fr);
        width: 100%;

        &  .header-container {
            grid-column: 1/-1;

            display: grid;
            grid-template-columns: minmax(3rem, 1fr) repeat(8, minmax(5rem, 8rem)) minmax(3rem, 1fr);

            border-bottom: 1px solid $borderColor;
            height: max-content;
            padding: .7rem 0;
        }
    }

    &  .main {
        grid-column: 2/10;
    }
}

