.sidebar {
    background-color: $gray;
    width: 15vw;
    height: 100vh;

    &  nav {
        margin: 5rem 0;

        &  ul {
            padding: 2rem 0;

            &  li {
                padding: 1rem 2rem;
                margin: .5rem 0;
                display: flex;
                align-items: center;
                font-size: 1rem;
                cursor: pointer;
                position: relative;

                &  .icon {
                    z-index: 100;
                }

                &  .title {
                    margin-left: 1rem;
                    font-weight: 500;
                    z-index: 100;
              
                }
                &::after {
                    content: "";
                    width: 0;
                    height: 100%;
                    background-color: $white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: all .2s ease-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
