.wallet {
  & header {
    // border-radius: 3rem;
    margin-bottom: 2rem;
  }

  & .balance {
    margin: 2rem 0;
    font-weight: 200;
  }

  & .option {
    margin: 4rem 0;
    border: 1px solid $borderColor;
    background-color: #fcfcfc;
    border-radius: 1rem;
    padding: 2rem;

    & p {
      margin: 0.4rem 0;
      font-style: italic;
      font-weight: 100;
      font-size: 0.7rem;
    }

    & .cta {
      display: flex;
      justify-content: flex-end;
    }
  }
}
