.balance {
  margin: 1rem 0;
  font-weight: 200;
}
.heading {
  margin-bottom: 1%;
}

.option {
  margin: 2rem 0;
  border: 1px solid $borderColor;
  background-color: #fcfcfc;
  border-radius: 1rem;
  padding: 1rem;
  .body {
    display: flex;
    align-items: center;
    .inner {
      flex-grow: 1;
    }
  }

  & p {
    margin: 0.2rem 0;
    font-style: italic;
    font-weight: 100;
    font-size: 0.7rem;
  }

  & .cta {
    flex-grow: 0;

    display: flex;
    justify-content: flex-end;
  }
}
