@import "./auth/auth.scss";

// layout styles
@import "./layout/header.scss";
@import "./layout/layout.scss";
@import "./layout/sidebar.scss";

// wallet styles
@import "./wallet/wallet.scss";

// savings styles
@import "./savings/savings.scss";
@import "./savings/new.scss";
@import "./savings/type.scss";
@import "./savings/mode.scss";
@import "./savings/addimage.scss";
@import "./savings/confirm.scss";
@import "./savings/success.scss";
@import "./savings/title.scss";
@import "./savings/savingslist.scss";
