* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.info {
  padding: 3rem 4rem;
  margin: 1rem 0;
  box-shadow: 1px 1px 1rem #e7e7e7;
  border-radius: 2rem;
  .content-body {
    height: 46vh;
    overflow: auto;
  }
}

@import "./variables.scss";
@import "./imports.scss";
