.transfer-card {
  border: 1px solid $borderColor;
  border-radius: 10px;
  padding: 2% 10%;
  margin: 5% 0%;
  text-align: center;

  .icon-container {
    margin: 10% auto;
    font-size: 50px;
    background-color: #f4f4f4b2;
    border-radius: 50%;
    padding: 2%;
    width: fit-content;
    display: flex;
  }
  h3 {
    margin: 2% 0%;
  }
  p {
    color: #00000069;
    padding: 5% 15%;
  }
  .btn-transfer {
    margin: 5% 0%;
  }
}
