.new {
  display: grid;
  row-gap: 5%;
  .title {
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 3%;
  }
}
a {
  text-decoration: none;
}
