.savings {
    text-align: center;

    &  header {
        text-align: left;
    }

    &  .icon-cont {
        margin: 2rem 0;
        opacity: .2;

        &  .icon {
            font-size: 20rem;
        }
    }
}