.head {
  display: grid;
  grid-template-columns: 0.2fr repeat(3, 1fr) 2fr;
  padding: 1%;
  align-items: center;
  gap: 0.5fr;
  margin-bottom: -5%;

  .other {
    display: flex;
    gap: 20%;
    .type {
      width: 80%;
    }
    .completed {
      width: 100%;
    }
  }
}
