@mixin dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  flex-grow: 0;
}
@mixin status {
  border-radius: 5px;
  padding: 2%;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.black-dot {
  @include dot();
  background-color: #000;
}

.success-dot {
  @include dot();
  background-color: #43b879;
}
.pending-dot {
  @include dot();
  background-color: #ffc46a;
}
.failed-dot {
  @include dot();
  background-color: #ff6e5a;
}

.trans-card {
  display: grid;
  grid-template-columns: 0.2fr repeat(3, 1fr) 2fr;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 1%;
  align-items: center;
  gap: 0.5fr;
  color: #00000069;
  margin: 1% 0%;
  cursor: pointer;

  .other {
    display: flex;
    gap: 20%;

    .type {
      background-color: #f2f2f2;
      border: 2px solid #cecece;
      border-radius: 5px;
      text-align: center;
      color: #c5c5c5;
      font-size: 12px;
      padding: 2%;
      width: 80%;
    }
    .completed {
      @include status();
      background-color: #43b879;
    }
    .pending {
      @include status();
      background-color: #ffc46a;
    }
    .failed {
      @include status();
      background-color: #ff6e5a;
    }
  }
}
